@import '_settings.scss';

.av {
  --color: #{$color-them};
  font-family: sans-serif;
  display: flex;
  align-items: center;
  filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, 0.5));
  width: 120px;

  position: relative;
  z-index: 9;

  div {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    overflow: hidden;
    background: var(--color);
  }

  & > div {
    border: 5px solid var(--color);
  }

  div div {
    background: url('./avatar.gif');
    background-position: 32px 0;
  }

  span {
    display: block;
    background: var(--color);
    width: 70px;
    height: 1em;
    padding: 4px;
    line-height: 1;
    height: 1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0 3px 3px 0;
    text-shadow: 1px 1px 2px #300;
  }
}

.av-1 {
  --color: #{$color-us};

  div div {
    background-position: 0 0;
  }
}

.av-2 {
  div div {
    background-position: 0 32px;
  }
}

.av-y {
  --color: #{$color-us};

  div div {
    background-position: 32px 32px;
  }
}
