@import '_settings.scss';

.av {
  --color: #{$color-them};
  font-family: sans-serif;
  display: flex;
  align-items: center;
  filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, 0.5));
  width: 120px;

  position: relative;
  z-index: 9;

  div {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    overflow: hidden;
    background: var(--color);
  }

  & > div {
    border: 5px solid var(--color);
  }

  div div {
    background: url('./avatar.gif');
    background-position: 0 0;
  }

  span {
    display: block;
    background: var(--color);
    width: 70px;
    height: 1em;
    padding: 4px;
    line-height: 1;
    height: 1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0 3px 3px 0;
    text-shadow: 1px 1px 2px #300;
  }
}

.av-1 {
  --color: #{$color-us};

  div div {
    background-position: 0 32px;
  }
}

.av-2 {
  div div {
    background-position: 32px 0;
  }
}

.av-y {
  --color: #{$color-us};

  div div {
    background-position: 32px 32px;
  }
}

// current player
.av-c {
  & > div:after {
    content: "Current";
    display: block;
    background: #fff;
    background: linear-gradient(0deg, #fff 0%, #aaa 100%);
    border: 1px solid #aaa;
    border-radius: 3px;
    position: absolute;
    top: -28px;
    left: 0;
    padding: 2px 4px;
    z-index: 1;
  }
  & > div:before {
    content: "";
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 10px 10px 8px;
   border-color: transparent transparent #fff transparent;
   transform: rotate(290deg);
    position: absolute;
    top: -10px;
    left: 5;
    z-index: 2;
  }
}
