$card-gap: 2px;

// Card deck
.cdd {
  position: relative;

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    top: -3 * $card-gap;
    left: 3 * $card-gap;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-width: 0 0 1px 1px;

    &:nth-child(4n+1) {
      top: 0;
      left: 0;
    }
    &:nth-child(4n+2) {
      top: -1 * $card-gap;
      left: 1 * $card-gap;
    }
    &:nth-child(4n+3) {
      top: -2 * $card-gap;
      left: 2 * $card-gap;
    }
  }
}
