$card-gap: 2px;

$a: 0.001;
$b: 0;

// Card deck
.cdd {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  width: 71px + 6px;
  height: 99px + 6px;
  margin-right: 20px;
  margin-bottom: 190px;

  transform: scale(0.8) matrix3d(
    1, -0.15, 0, 0.0001,
    0, 1, 0, -0.003,
    0, 0, 1, 0,
    0, 0, 0, 1
  ) skewX(-2deg);
  transform-origin: top center;

  & > div {
    position: absolute;
    top: 0;
    left: 0;
    top: -3 * $card-gap;
    left: 3 * $card-gap;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-width: 0 0 1px 1px;

    &:nth-child(4n+1) {
      top: 0;
      left: 0;
    }
    &:nth-child(4n+2) {
      top: -1 * $card-gap;
      left: 1 * $card-gap;
    }
    &:nth-child(4n+3) {
      top: -2 * $card-gap;
      left: 2 * $card-gap;
    }
  }
}
