.hd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  padding: 1rem;
  gap: 1rem;
  position: relative;
  z-index: 9;
  max-width: 500px;
  margin: 0 auto;

  & > div {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
  }
}
