// mate player
.mt {
  position: absolute;
  width: 120px;
  height: 50px;
  top: 100px;
  right: 0;
  display: flex;
  gap: 3px;
  margin-bottom: 3px;

  & > * {
    transform: scale(0.5);
    transform-origin: 0 0;
    width: 35px;
    height: 49px;
  }

  & + .mt {
    top: 160px;
  }

  & + .mt + .mt {
    top: 220px;
  }
}
