#mc {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  button {
    position: relative;
    cursor: pointer;
  }

  button:first-child {
    transform: rotate(-5deg) translateY(5px);
  }

  button:last-child {
    transform: rotate(5deg) translateY(5px);
  }
}
