#me {
  position: absolute;
  z-index: 3;
  left: 100px;
  bottom: 10px;
  width: 400px;

  & > div {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
