@import "./_settings.scss";

// others card
.otc {
  width: 120px;
  height: 50px;
  display: flex;
  gap: 3px;
  margin: 0 0 0 44px;

  & > * {
    width: 28px;
    height: 39px;
  }

  // others card visible
  & > .otcv {
    animation: $other-card-animation-delay ease-out $other-card-animation-timeout 1 fade-out;
    animation-fill-mode: forwards;
  }

  & > div > * {
    transform: scale(0.4);
    transform-origin: 0 0;
  }
}

@keyframes fade-out {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
