// mate player
.otc {
  width: 120px;
  height: 50px;
  display: flex;
  gap: 3px;
  margin: 0 0 0 44px;

  & > * {
    transform: scale(0.4);
    transform-origin: 0 0;
    width: 28px;
    height: 39px;
  }
}
