@import "./_settings.scss";

#scr {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;

  span {
    font-size: 14px;
  }

  & > div {
    display: flex;
    padding: 2px;
    justify-content: center;
    margin-top: 4px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
    background: #000;

    div {
      font-weight: bold;
      padding: 2px 0;
      text-align: center;
      width: 1.4em;
    }

    div + div {
      border-right: 1px solid #222;
      font-size: 0.9rem;
    }

    div:first-child {
      background: $color-us;
    }

    div:last-child {
      background: $color-them;
      border-right: 0;
    }
  }
}
