$color-us: #a00;
$color-them: #672178;
$card-border-radius: 6px;

$other-card-animation-delay: 800ms;
$other-card-animation-timeout: 350ms;
$table-card-placing-animation-timeout: 350ms;
$table-card-glowing-animation-timeout: 550ms;
$table-card-blurring-animation-timeout: 550ms;
