$color-us: #a00;
$color-them: #672178;
$card-border-radius: 6px;

$other-card-animation-delay: 200ms;
$other-card-animation-timeout: 450ms;
$table-card-placing-animation-timeout: 250ms;
$table-card-glowing-animation-timeout: 450ms;
$table-card-blurring-animation-timeout: 250ms;
