$color-us: #a00;
$color-them: #672178;
$card-border-radius: 6px;

/*
$other-card-animation-delay: 350ms;
$other-card-animation-timeout: 650ms;
$table-card-placing-animation-timeout: 650ms;
$table-card-glowing-animation-timeout: 950ms;
*/
$other-card-animation-delay: 50ms;
$other-card-animation-timeout: 150ms;
$table-card-placing-animation-timeout: 150ms;
$table-card-glowing-animation-timeout: 150ms;
