$skew-angle: 32deg;
$x-position-compensation: 82px;
$up-side-color: #4d2d15;

// table background
.tbg {
  width: 600px;
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-left: -300px;

  & > div {
    border-bottom: 0;
  }

  .t1 {
    display: flex;
    overflow: hidden;

    &, & div {
      height: 260px;
      overflow: hidden;
    }

    & > div > div {
      width: 300px;
      transform: skewX(-1 * $skew-angle) translateX($x-position-compensation);
      border: 1px solid #28170b;
      background: $up-side-color;
    }

    & > div + div > div {
      transform: skewX($skew-angle) translateX(-1 * $x-position-compensation);
      border-left: 0;
    }
  }

  .t2 {
    height: 25px;
    background: #724220;
    border: 1px solid #28170b;
  }
  .t3 {
    height: 60px;
    background: $up-side-color;
    margin: 0 60px;
    box-shadow: 0 20px 20px -20px inset rgba(0,0,0,0.5);
    border: 1px solid #28170b;
    border-width: 0 1px;
  }
}

@media (min-width: 600px) {
  .tbg {
    bottom: calc((100vh - 260px) / 5);
  }
}
