$toggle-width: 18px;
$color: #fff;
$bg-off: #444;
$bg-on: #680;

.tg {
  color: $color;
  cursor: pointer;

  & div {
    position: relative;
    width: 48px;
    height: $toggle-width;
    line-height: $toggle-width;
    border-radius: $toggle-width;
    padding: 4px;
    display: block;
    background: $bg-off;
    color: #fff;
    text-align: right;
    font-size: 10px;
    margin-top: 4px;
  }

  & div:before {
    content: 'OFF'
  }

  & div:after {
    content: "";
    display: block;
    width: $toggle-width;
    height: $toggle-width;
    background: #fff;
    border-radius: 1000px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 150ms ease-in-out;
  }

  &.on div {
    text-align: left;
    background: $bg-on;

    &:before {
      content: 'ON'
    }

    &:after {
      left: 34px;
    }
  }
}
