html, body, button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#wrap {
  width: 100%;
  max-width: 430px;
  height: 568px;
  background: #4d8a81;
}
#app {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  background: linear-gradient(180deg, #e1e2d9 0%, #c8caca 100%);
  border-bottom: 2px solid #325a54;
  font-family: sans-serif;
  padding: 1rem;
  gap: 1rem;
  color: #2e524d;
}
.header > div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.header h1 {
  margin: 0;
}


.tg {
  text-transform: uppercase;
  color: #2e524d;
  cursor: pointer;
}
.tg div {
  position: relative;
  width: 2.7rem;
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 4px;
  display: block;
  background: #4d4d4d;
  color: #fff;
  text-align: right;
  border-radius: 1.2rem;
  font-size: 10px;
  margin-top: 0.25rem;
}
.tg div:before {
  content: 'off'
}
.tg div:after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  background: #fff;
  border-radius: 1000px;
  position: absolute;
  top: 4px;
  left: 4px;
}
.tg.on div {
  text-align: left;
  background: #680;
}
.tg.on div:before {
  content: 'on'
}
.tg.on div:after {
  left: auto;
  right: 4px;
}


.card {
  position: relative;
  width: 50px;
  height: 66px;
  font-family: Georgia, serif;
  border-radius: 6px;
  box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.4);
  padding: 16px 10px;
  background: #fff;
  background: linear-gradient(270deg, #fff 0%, rgba(0,0,0,0.02) 100%);
}
.card, .card .r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .r {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 6px;
  font-size: 32px;
}
.card .n {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  background: #fff;
  padding: 4px;
}
.card .n ~ .n {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  transform: scale(-1)
}
.card-1, .card-3 {
  color: #a00;
}
.card-1 .r, .card-3 .r {
  border-color: #a00;
}
