@import "./_body.scss";
@import "./_header.scss";
@import "./_reset-game.scss";
@import "./_score.scss";
@import "./_toggle.scss";
@import "./_table-background.scss";
@import "./_card.scss";
@import "./_card-back.scss";
@import "./_card-deck.scss";
@import "./_myself.scss";
@import "./_my-cards.scss";
@import "./_table-cards.scss";
@import "./_avatar.scss";
@import "./_others.scss";
@import "./_others-cards.scss";
@import "./_actions.scss";
@import "./_notifications.scss";
@import "./_splash-menu.scss";
@import "./_help.scss";

* {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

html, body, button, svg, h1, ul, h3, p {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

html, body, #wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  @include body-pattern;
}

#wrap {
  @include body-shadow;

  &.playing {
    #app {
      filter: none;
    }

    #spl {
      display: none;
    }

    #hlp {
      display: none;
    }
  }

  &.learning {
    #spl {
      display: none;
    }

    #hlp {
      display: block;
    }
  }
}

#app, #spl, #hlp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  z-index: 1;
  filter: blur(10px);
}

#spl, #hlp {
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
}
