html, body, button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#wrap {
  width: 100%;
  max-width: 430px;
  height: 568px;
  background: #4d8a81;
}
#app {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
}

// Header
.hd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  background: linear-gradient(180deg, #e1e2d9 0%, #c8caca 100%);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  font-family: sans-serif;
  padding: 1rem;
  gap: 1rem;
  color: #2e524d;

  & > div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  & h1 {
    margin: 0;
  }
}


$toggle-width: 18px;

// Toggle button
.tg {
  text-transform: uppercase;
  color: #2e524d;
  cursor: pointer;

  & div {
    position: relative;
    width: 48px;
    height: $toggle-width;
    line-height: $toggle-width;
    border-radius: $toggle-width;
    padding: 4px;
    display: block;
    background: #4d4d4d;
    color: #fff;
    text-align: right;
    font-size: 10px;
    margin-top: 0.25rem;
  }

  & div:before {
    content: 'off'
  }

  & div:after {
    content: "";
    display: block;
    width: $toggle-width;
    height: $toggle-width;
    background: #fff;
    border-radius: 1000px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 150ms ease-in-out;
  }

  &.on div {
    text-align: left;
    background: #680;

    &:before {
      content: 'on'
    }

    &:after {
      left: 34px;
    }
  }
}

// Card
.cd {
  position: relative;
  width: 50px;
  height: 66px;
  font-family: Georgia, serif;
  border-radius: 6px;
  box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.4);
  padding: 16px 10px;
  background: #fff;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 6px;
  }

  &, & .r {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .r {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 6px;
    font-size: 40px;
  }

  & .n {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    background: #fff;
    padding: 4px;
    border-radius: 20px;
  }

  & .n ~ .n {
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    transform: scale(-1)
  }

  &.s-1, &.s-3 {
    color: #a00;
  }

  &.s-1 .r, &.s-3 .r {
    border-color: #a00;
  }
}

// body
.bd {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  grid-template-rows: 100px 1fr 100px 100px;

  .tb {
    grid-row: span 2;
    background: #41756e;
    border: 1px solid #2e524c;
    outline: 1px solid #fff;
    border-bottom: 0;
    border-radius: 2px 2px 0 0;
  }

  .me {
    grid-column: span 3;
    background: #3c6c65;
    box-shadow: 0 8px 8px -8px inset rgba(0, 0, 0, 0.5);

  }
}

// avatar
.av {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1.5rem;
  width: 80px;
  height: 100px;
  background: #c83771;
  border: 1px solid #520;
  box-sizing: border-box;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #520;
    color: #fff;
    font-size: sans-serif;
    text-transform: uppercase;
  }

  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
  }

  // bottom
  &.b:after {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #520;
    bottom: -12px;
    left: 50%;
    margin-left: -12px;
  }

  // left
  &.l:after {
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #520;
    top: 50%;
    left: -12px;
    margin-top: -12px;
  }

  // top
  &.t:after {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #520;
    top: -12px;
    left: 50%;
    margin-left: -12px;
  }
}
