@import "./_body.scss";
@import "./_table.scss";
@import "./_card.scss";
@import "./_myself.scss";
@import "./_mates.scss";
/*
@import "./_header.scss";
@import "./_toggle.scss";
@import "./_avatar.scss";
*/

html, body, button, svg {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

html, body, #wrap {
  width: 100%;
  height: 100%;
}

body {
  @include body-pattern;
}

#wrap {
  @include body-shadow;
}
